<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>

<body>

    <div id="w3-form">
        <form action="/admin/update-user/<%= rows[0].id%>" method="post">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name.." value="<%= rows[0].firstName%>">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name.." value="<%= rows[0].lastName%>">

            <label for="email">Last Name</label>
            <input type="text" id="email" name="email" placeholder="Your email.." value="<%= rows[0].email%>">

            <label for="address">Last Name</label>
            <input type="text" id="address" name="address" placeholder="Your address.." value="<%= rows[0].address%>">


            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>